# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.DS_Store
.node

# 誤爆防止用
yarn.lock
package.json


backend/node_modules/
frontend/node_modules/

