swagger: "2.0"
info:
  description: "cloudfunctionでフロントからDBを叩くためのAPI"
  version: "1.0.0"
  title: "フロント→バックエンド用リファレンス"

host: "asia-east2.pj-marowd.cloudfunctions.net"

tags:
  - name: "関数一覧"
    description: "DBに格納されているデータを取得したり格納したりする関数"
schemes:
  - "https"

paths:
  /comment:
    get:
      tags:
        - "取得"
      summary: "授業ごとのコメントを取得する"

      parameters:
        - name: "comment_id"
          in: "query"
          description: ""
          required: true
          type: "integer"
        - name: "class_name"
          in: "query"
          required: true
          type: "string"

      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/comment'
        404:
          description: ""
          schema:
            $ref: '#/definitions/not_found_error'
    post:
      tags:
        - "投稿"
      summary: "コメントを新規に投稿する"
      parameters:
        - in: body
          name: "data"
          required: true
          schema:
              $ref: '#/definitions/comment'

      description: ""
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/pass'

        404:
          description: ""
          schema:
            $ref: '#/definitions/not_found_error'

    put:
      tags:
        - "更新"
      summary: "コメントの更新"
      parameters:
        - in: body
          name: "data"
          required: true
          schema:
            $ref: '#/definitions/comment'

      description: ""
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/pass'

        404:
          description: ""
          schema:
            $ref: '#/definitions/not_found_error'

    delete:
      tags:
        - "削除"
      summary: "コメントを削除する"
      description: ""
      parameters:

        - name: "uid"
          in: "query"
          required: true
          type: "string"

        - name: "comment_id"
          in: "query"
          required: true
          type: "string"

      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/pass'
        500:
          description: ""
          schema:
            $ref: '#/definitions/other_error'

  /class:
    get:
      tags:
        - "取得"
      summary: "授業データを取得する"
      parameters:

        - name: "class_name"
          in: "query"
          required: true
          type: "string"

      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/class'
        404:
          description: ""
          schema:
            $ref: '#/definitions/not_found_error'
    post:
      tags:
        - "投稿"
      summary: "授業を新規に投稿する"
      parameters:
        - in: body
          name: "data"
          required: true
          schema:
            $ref: '#/definitions/class'
      description: ""
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/pass'

        404:
          description: ""
          schema:
            $ref: '#/definitions/not_found_error'

    put:
      tags:
        - "更新"
      summary: "授業情報の更新"
      parameters:
        - in: body
          name: "data"
          required: true
          schema:
            $ref: '#/definitions/class'
      description: ""
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/pass'

        404:
          description: ""
          schema:
            $ref: '#/definitions/not_found_error'

  /classes:
    get:
      tags:
        - "取得"
      summary: "コメントを一括取得する"
      parameters:
        - name: "class_name"
          in: "query"
          required: true
          type: "string"

      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/comments'
        404:
          description: ""
          schema:
            $ref: '#/definitions/not_found_error'

  /exist_class:
    get:
      tags:
        - "取得"
      summary: "授業データがすでに存在しているかを確認する"
      parameters:

        - name: "class_name"
          in: "query"
          required: true
          type: "string"

      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/pass'

        400:
          description: ""
          schema:
            $ref: '#/definitions/wrong_error'

        404:
          description: ""
          schema:
            $ref: '#/definitions/not_found_error'




definitions:
  pass:
    type: "object"
    properties:
      status:
        type: "string"
        example: "OK"

  wrong_error:
    type: "object"
    properties:
      message:
        type: "string"
        example: "data is wrong"

  not_found_error:
    type: "object"
    properties:
      message:
        type: "string"
        example: "Data not found or argument error"

  other_error:
    type: "object"
    properties:
      message:
        type: "string"
        example: "An error occurred"

  class:
    type: "object"
    required:
      - faculty
      - department
      - grade
      - professor
      - israndom
      - rating
      - term
      - lastupdatedby

    properties:
      title:
        type: "string"
      faculty:
        type: "string"
      grade:
        type: "string"
      professor:
        type: "string"
      israndom:
        type: "boolean"
      rating:
        type: "number"
        example: "2.7"
      term:
        type: "string"
      lastupdateby:
        type: "string"

#      created_at:
#        type: "string"
#        format: date
#        example: "Timestamp"
#      updated_at:
#        type: "string"
#        format: date
#        example: "Timestamp"
#      made_by:
#        type: "string"

  comments:
    type: "array"
    items:
      $ref: '#/definitions/comment'

  comment:
    type: "object"
    required:
      - name
      - image
      - date
      - subjct
      - text
      - isRecommend

    properties:
#      comment_id:
#        type: "integer"
      name:
        type: "string"
#        example: "おすすめ"
      image:
        type: "string"
      date:
        type: "string"
        format: date
#        example: "2019年8月23日 12:30:23 UTC+9"
      subject:
        type: "string"

      text:
        type: "string"
#      updated_at:
#        type: "string"
#        format: date
#        example: "2019年8月23日 18:30:23 UTC+9"
#      made_by:
#        type: "string"
#        example: "Sduyfsehj23JaU4"
      isRecommend:
        type: "boolean"

