swagger: "2.0"
info:
  description: "cloudfunctionでフロントからDBを叩くためのAPI"
  version: "1.0.0"
  title: "フロント⇆バックエンド用リファレンス"

host: "us-central1-pj-marowd.cloudfunctions.net"

schemes:
  - "https"
paths:
  /comment:
    get:
      summary: "授業のコメントをコメントidから取得する"
      parameters:
        - name: "comment_id"
          in: "query"
          required: true
          type: "integer"
        - name: "class_name"
          in: "query"
          required: true
          type: "string"
      responses:
        200:
          description: "正常の場合、コメントを取得する。"
          schema:
            $ref: '#/definitions/comment'
        404:
          description: "Not Found"
        500:
          description: "Internal Server Error"
    post:
      summary: "コメントを新規に投稿する"
      description: "授業に対してコメントを追加する。"
      security:
        - firebaseAuth: []
      parameters:
        - name: "class_name"
          in: "query"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          required: true
          schema:
              $ref: '#/definitions/comment'
      responses:
        204:
          description: "No Content"
        404:
          description: "Not Found"
        500:
          description: "Internal Server Error"
    delete:
      summary: "コメントを削除する"
      description: "授業名とヘッダーに含まれた情報を使用して授業情報の削除をする。"
      security:
        - firebaseAuth: []
      parameters:
        - name: "class_name"
          in: "query"
          required: true
          type: "string"
      responses:
        204:
          description: "No Content"
        500:
          description: "Internal Server Error"
  /class_data:
    get:
      summary: "授業データを取得する"
      parameters:
        - name: "class_name"
          in: "query"
          required: true
          type: "string"
      responses:
        200:
          description: "授業のデータを取得する"
          schema:
            $ref: '#/definitions/class'
        404:
          description: "Not Found"
        500:
          description: "Internal Server Error"
    post:
      summary: "授業を新規に投稿する"
      security:
        - firebaseAuth: []
      parameters:
        - name: "data"
          in: body
          required: true
          schema:
            $ref: '#/definitions/class'
      description: ""
      responses:
        204:
          description: "No Content"
        404:
          description: "Not Found"
        500:
          description: "Internal Server Error"
  /comments:
    get:
      summary: "コメントを一括取得する"
      parameters:
        - name: "class_name"
          in: "query"
          required: true
          type: "string"
      responses:
        200:
          description: "コメントの配列を取得できる。"
          schema:
            $ref: '#/definitions/comments'
        404:
          description: "Not Found"
        500:
          description: "Internal Server Error"
  /exist_class:
    get:
      summary: "授業データがすでに存在しているかを確認する"
      parameters:
        - name: "class_name"
          in: "query"
          required: true
          type: "string"
      responses:
        204:
          description: "No Content"
        404:
          description: "Not Found"
        500:
          description: "Internal Server Error"
definitions:
  class:
    type: "object"
    required:
      - name
      - title
      - faculty
      - department
      - fav_amount
      - grade
      - professor
      - is_random
      - rating
      - term
      - update_by
      - made_by
    properties:
      name:
        type: "string"
      title:
        type: "string"
      faculty:
        type: "string"
      fav_amount:
        type: "number"
      department:
        type: "string"
      grade:
        type: "string"
      professor:
        type: "string"
      is_random:
        type: "boolean"
      rating:
        type: "number"
        example: "2.7"
      term:
        type: "string"
      update_by:
        type: "string"
      made_by:
        type: "string"
  comments:
    type: "array"
    items:
      $ref: '#/definitions/comment'
  comment:
    type: "object"
    required:
      - name
      - title
      - comment
      - made_by
      - image
      - is_recommend
    properties:
      name:
        type: "string"
      title:
        type: "string"
#        example: "おすすめ"
      image:
        type: "string"
      made_by:
        type: "string"
      subject:
        type: "string"
      comment:
        type: "string"
      is_recommend:
        type: "boolean"
securityDefinitions:
  firebaseAuth:
    type: "apiKey"
    in: "header"
    name: "Authorization"

